:root{
  --primary-color: ;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  height: 100vh;
}
.link{
  text-decoration: none;
}
.menu-button{
  flex: 1;
  margin: auto;
  width: 40vh;
}
.angles-input{
  display: flex;
  flex-direction: column;
  width: 60vh;
  margin: auto;
}
.label-input{
  width: auto;
}
.input-box{
  margin: 1rem auto;
  width: 60%;
}
.question-box{
  text-align: left;
}
.options-set{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.options{
  flex:1;
  margin: 1rem 2.5rem;
  text-align: left;
}
.footer{
  margin-top: 4rem;
}